/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    width: 100%;
    background-color: #255ee9;
    line-height: 80px;
}

img{
    vertical-align: middle;
}

.font{
    font-family: 'Whitney-Semibold', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.buttons-styles{
    border-radius: 30px;
    padding: 13px 18px;
    border: none;
}

.font-buttons{
    font-family: 'Whitney-Semibold', sans-serif;
    font-size: 22px;
    margin-left: 23px;
    padding: 19px 55px;
    margin-top: 23px;
}

#special-button{
    color: white;
    background-color: #23272a;
}

.container{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 1300px;
    background-color: crimson;
}

.main-nav{
    width: 57%;
    text-align: center;
    margin: 0px 175px;
}

.main-nav a{
    text-decoration: none;
    color: white;
}

.main-nav li{
    display: inline;
    margin: 0px 35px;
}

.sub-container{
    position: relative;
    background-image: url(../img/jumbo.png);
    height: 62vh;
    background-size: cover;
    background-position-x: center;
}

.jumbotron{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 905px;

}

.jumbotron p{
    line-height: 150%;
    font-size: 24px;
    color: #ffffff;
    width: 101%;
}

.jumbotron h1{
    font-size: 66px;
    color: #ffffff;
    padding: 30px;
}

.row{
    position: relative;
    background-color: white;
    height: 80vh;
}

.container-centered{
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 75%;
}

.text-container{
    width: 40%;
}

.row img{
    width: 50%;
    margin-right: 104px;
}

.float-left p{
    line-height: 150%;
    font-size: 20px;
}

.background-color{
    background-color: #f6f6f6;
}

.container-centered h1{
    font-size: 45px;
    color: #23272a;
    text-align: left;
    margin-top: 38px;
    padding-right: 287px;
}

.container-centered p{
    line-height: 150%;
    font-size: 22px;
    text-align: left;
    margin-top: 22px;
    padding-right: 206px;
}

.background-container{
    background-image: url(../img/stars.svg);
}

.background-container h1{
    font-size: 30px;
}

#text-align-center{
    text-align: center;
}