/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    width: 100%;
    background-color: #255ee9;
    line-height: 80px;
}

img{
    vertical-align: middle;
}

.font{
    font-family: 'Whitney-Semibold', sans-serif;
}

.fa-long-arrow-alt-down:before {
    content: "\f309";
    margin-right: 3px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.buttons-styles{
    border-radius: 30px;
    padding: 13px 18px;
    border: none;
}

.font-buttons{
    font-family: 'Whitney-Semibold', sans-serif;
    font-size: 22px;
    padding: 19px 55px;
    margin-top: 23px;
    margin-left: 18px;
}

#special-button1{
    color: white;
    background-color: #23272a;
}

.container{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 1300px;
}

.main-nav{
    width: 57%;
    text-align: center;
    margin: 0px 175px;
}

.main-nav a{
    text-decoration: none;
    color: white;
}

.main-nav li{
    display: inline;
    margin: 0px 35px;
}

.sub-container{
    position: relative;
    background-image: url(../img/jumbo.png);
    height: 62vh;
    background-size: cover;
    background-position-x: center;
}

.jumbotron{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 905px;

}

.jumbotron p{
    line-height: 150%;
    font-size: 24px;
    color: #ffffff;
    width: 101%;
}

.jumbotron h1{
    font-size: 66px;
    color: #ffffff;
    padding: 30px;
}
/* MAIN */

/* Prima sezione */

#vh-modifica-1{
    height: 80vh;
}

.container-2{
    background-color: white;
    height: 130vh;
}

.sub-container2{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    max-width: 1300px;
}

.img-container{
    width: 52%;
    height: 564px;
    padding-top: 126px;
}

.text-container{
    width: 48%;
    height: 673px;
    padding-top: 158px;
    padding-left: 143px;
    padding-right: 63px;
}

.text-container h1{
    font-size: 52px;
    line-height: 106%;
    color: #23272a;
}

.text-container p{
    margin-top: 39px;
    line-height: 36px;
    font-size: 24px;
}
/* Seconda sezione */

#vh-modifica-2{
    height: 80vh;
}

.background-color{
    background-color: #f6f6f6;
}

.text-container2{
    width: 44%;
    height: 521px;
    padding-top: 246px;
    padding-right: 127px;
}

.img-container2{
    width: 56%;
    height: 500px;
    padding-top: 208px;
}

.text-container2 h1{
    font-size: 52px;
    line-height: 106%;
    color: #23272a;
}

.text-container2 p{
    margin-top: 39px;
    line-height: 36px;
    font-size: 24px;
}
/* Terza sezione */

#vh-modifica-3{
    height: 80vh;
}

.img-container3{
    width: 52%;
    height: 564px;
    padding-top: 132px;
}

.text-container3{
    width: 48%;
    height: 673px;
    padding-top: 172px;
    padding-left: 185px;
}

.text-container3 h1{
    font-size: 52px;
    line-height: 106%;
    color: #23272a;
}

.text-container3 p{
    margin-top: 39px;
    line-height: 36px;
    font-size: 24px;
}
/* Quarta sezione */
.text-container4{
    width: 100%;
    height: 417px;
    padding-top: 196px;
}

.text-container4 h1{
    font-size: 62px;
    color: #23272a;
    text-align: center;
}

.text-container4 p{
    line-height: 36px;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

#img-size{
    width: 86%;
    margin-left: 97px;
}

.bottom-row{
    text-align: center;
}

.bottom-row h2{
    text-align: center;
    font-size: 32px;
    color: #23272a;
    background-image: url(../img/stars.svg);
    margin-bottom: 11px;
    padding-top: 34px;
    background-position-x: center;
    background-size: unset;

}

#special-button2{
    color: white;
    background-color: #8ea1e1;
    border-radius: 30px;
    padding: 13px 18px;
    border: none;
    font-family: 'Whitney-Semibold', sans-serif;
    font-size: 21px;
    margin-top: 12px;
}
/*FOOTER*/
footer{
    background-color: #23272a;
    height: 80vh;
}
